.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode/
Scatcar/weights/
ScatCar/models/context_based/weight_pcr/
ScatCar/models/context_based/weight_psd/